In [1]:
#Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all 
#integers.

In [6]:
def max_third_edge(first_edge,second_edge):
    return (first_edge+second_edge)-1

In [11]:
max_third_edge(9,2)

10

In [12]:
#chickens = 2 legs
#cows = 4 legs
#pigs = 4 legs
#The farmer has counted his animals and he gives you a subtotal for each species. You have to implement a 
#function that returns the total number of legs of all the animals.

In [15]:
def animals(chickens, cows, pigs):
    ch = chickens*2
    co = cows*4
    pi = pigs*4
    ans = ('Total legs are : {}'.format(ch+co+pi))
    return ans

In [16]:
animals(2,2,2)

'Total legs are : 20'

In [17]:
#FPS

In [24]:
def frames(minutes, fps):
    return (minutes*60)*fps

In [28]:
frames(1,60)

3600

In [32]:
#Create a function that returns the ASCII value of the passed in character.

In [33]:
def ascii(char):
    return ord(char)

In [42]:
ascii('A')

65

In [47]:
#boxes

In [49]:
def boxes(n):
    if n<0:
        ans = 'Please enter a positive integer only'
    else:
        ans = n**2
    return ans

In [54]:
boxes(4)

16

In [55]:
#You hired three programmers and you (hopefully) pay them. Create a function that takes three numbers 
#(the hourly wages of each programmer) and returns the difference between the highest-paid programmer and 
#the lowest-paid.

In [61]:
def programmers(one,two,three):
    highest = max(one,two,three)
    lowest = min(one,two,three)
    return highest-lowest

In [63]:
programmers(33, 72, 74)

41

In [64]:
#For each of the 6 coffee cups I buy, I get a 7th cup free. In total, I get 7 cups. Create a function that 
#takes n cups bought and return the total number of cups I would get.

In [65]:
def total_cups(n):
    new_cups = n/6
    extra_cups = int(new_cups)
    return n+extra_cups

In [66]:
total_cups(12)

14

In [67]:
total_cups = lambda n:n + n//6

In [69]:
total_cups(12)

14

In [70]:
#Create a function that takes a number (step) as an argument and returns the number of matchsticks in that
#step. See step 1, 2 and 3 in the image above.

In [78]:
def match_houses(step):
    if step == 1:
        ans = 6
    elif step == 0:
        ans = 0
    else:
        ans = (step*6)-(step-1)
    return ans

In [79]:
match_houses(0)

0

In [80]:
#Create a function to multiply all of the values in a list by the amount of values in the given list.

In [81]:
def MultiplyByLength(arr):
    length = len(arr)
    new_list = []
    for i in arr:
        new_list.append(length*i)
    return new_list

In [83]:
MultiplyByLength([1, 0, 3, 3, 7, 2, 1])

[7, 0, 21, 21, 49, 14, 7]

In [85]:
#Sam and Frodo need to be close. If they are side by side in the list, your function should return True.
#If there is a name between them, return False.

In [28]:
def middle_earth(lst):
    sam = lst.index('Sam')
    frodo = lst.index('Frodo')
    if abs(sam-frodo) == 1:
        ans = True
    else:
        ans = False
    return ans

In [29]:
middle_earth(["Orc", "Sam", "Frodo", "Legolas"])

True

In [37]:
#ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±ðŸ˜±
#A really cool use of try and except
def middle(lst):
    try:
        for i in range(len(lst)):
            if lst[i] == 'Frodo' and lst[i+1] == 'Sam':
                ans = True
            elif lst[i] == 'Sam' and lst[i+1] == 'Frodo':
                ans = True
            else:
                ans = False
    except IndexError:
        pass
    return ans

In [38]:
middle(["Orc", "Sam", "Frodo"])

True

In [39]:
#Create a function that takes a number as an argument. Add up all the numbers from 1 to the number you 
#passed to the function. For example, if the input is 4 then your function should return 10 because
#1 + 2 + 3 + 4 = 10.

In [58]:
def add_up(num):
    x = list(range(1,num+1))
    return sum(x)

In [61]:
add_up(600)

180300

In [ ]:
#Write a function that stutters a word as if someone is struggling to read it. The first two letters are
#repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question 
#mark ?.

In [62]:
def stutter(word):
    return word[0:2]+'... '+word[0:2]+'... '+word+'?'

In [64]:
stutter('incredible')

'in... in... incredible?'

In [65]:
#Create a function that takes a list of numbers and return the number that's unique.

In [98]:
def unique(mylist):
    for i in mylist:
        if mylist.count(i) == 1:
            return i

In [99]:
unique([0, 0, 0.77, 0, 0])

0.77

In [100]:
#A typical car can hold four passengers and one driver, allowing five people to travel around. Given n 
#number of people, return how many cars are needed to seat everyone comfortably.

In [123]:
def cars_needed(people):
    full_cars = int(people/5)
    remaining_people = people - (full_cars*5)
    if remaining_people == 0:
        return full_cars
    else:
        return full_cars+1

In [124]:
cars_needed(31)

7

In [130]:
from math import ceil

In [135]:
ceil(11/2)

6

In [153]:
-(-31//5)

7

In [161]:
def triangle(n):
    x = list(range(1,n+1))
    return sum(x)

In [164]:
triangle(5)

15

In [1]:
#Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the 
#missing number.

In [2]:
def missing_num(mylist):
    mylist.sort()
    i = 1
    while i<=10:
        if i not in mylist:
            print(i)
            break
        else:
            i = i+1

In [3]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

In [4]:
#The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is 
#(5+1+2)/3(number of digits) = 8/3=2).

In [46]:
def mean(num):
    mylist = []
    for i in str(num):
        mylist.append(int(i))
    total = sum(mylist)
    digits = len(mylist)
    return int(total/digits)

In [47]:
mean(666)

6

In [48]:
#Create a function that takes a list of strings and return a list, sorted from shortest to longest.

In [80]:
def sort_by_length(lst):
    new_list = []
    for index in range(len(lst)):
        new_list.append(len(lst[index]))
    new_list.sort()
    ans = []
    for len_of_word in new_list:
        for item in lst:
            if len(item) == len_of_word:
                ans.append(item)
    return ans

In [81]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [83]:
#Another way
sorted(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [84]:
#Write a function that takes a year and returns its corresponding century.

In [85]:
import math

In [91]:
def century_from_year(year):
    return math.ceil(year/100)

In [97]:
century_from_year(21)

1

In [98]:
#Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which 
#are of equal value.

In [99]:
def equal(a,b,c):
    if a==b==c:
        print(3)
    elif a==b or b==c or a==c:
        print(2)
    else:
        print(0)

In [102]:
equal(3,4,1)

0

In [103]:
#Create a function that applies a discount d to every number in the list.

In [107]:
def get_discounts(lst,discount):
    discounted_list = []
    disc = int(discount.replace('%',''))
    for i in lst:
        ans = i*disc/100
        discounted_list.append(ans)
    return discounted_list

In [108]:
get_discounts([10, 20, 40, 80], "75%")

[7.5, 15.0, 30.0, 60.0]

In [109]:
#Create a function that squares every digit of a number.

In [136]:
def square_digits(num):
    mystr = ''
    for i in str(num):
        mystr = mystr+(str(int(i)**2))
    return mystr

In [138]:
square_digits(3212)

'9414'

In [140]:
#Given a list of integers, find the pair of adjacent elements that have the largest product and return that 
#product.
#adjacent_product([0, -1, 1, 24, 1, -4, 8, 10]) âžž 80

In [159]:
def adjacent_product(lst):
    new_list = []
    try:
        for i,num in enumerate(lst):
            new_list.append(lst[i]*lst[i+1])
    except IndexError:
        pass
    return max(new_list)

In [160]:
adjacent_product([5, 6, -4, 2, 3, 2, -23])

30

In [173]:
# -1 can solve the IndexError
lst = [5, 6, -4, 2, 3, 20, 4]
mylist = []
for i in range(0,len(lst)-1):
    mylist.append(lst[i]*lst[i+1])
print(mylist)
print(max(mylist))

[30, -24, -8, 6, 60, 80]
80

In [174]:
print(range(len(lst)-1))

range(0, 6)

In [175]:
#Create a function that takes a number a and finds the missing exponent x so that a when raised to the 
#power of x is equal to b.

In [176]:
import math

In [186]:
def solve_for_exp(a,b):
    return round(math.log(b,a))

In [187]:
solve_for_exp(9,3486784401)

10

In [188]:
#Create a function that accepts a string of space separated integers and returns the highest and lowest 
#integers (as a string).
#high_low("1 2 3 4 5") âžž "5 1"

In [26]:
string = "1 9 3 4 -5"

In [2]:
def high_to_low(string):
    string = string.split()
    sorted(string, key = int)
    return '{} {}'.format(max(string),min(string))

In [6]:
high_to_low("1 2 -3 4 5")

'5 -3'

In [7]:
high_to_low('13')

'13 13'

In [8]:
#Create a function that converts a string of letters to their respective number in the alphabet.

In [1]:
import string

In [67]:
a_to_z = string.ascii_uppercase

In [68]:
a_to_z = a_to_z.replace('',' ')

In [69]:
a_to_z

' A B C D E F G H I J K L M N O P Q R S T U V W X Y Z '

In [70]:
a_to_z = a_to_z.split()

In [72]:
print(a_to_z)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [74]:
index = list(range(len(a_to_z)))

In [75]:
print(index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [76]:
mydic = dict(zip(a_to_z,index))

In [78]:
print(mydic)

{'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6, 'H': 7, 'I': 8, 'J': 9, 'K': 10, 'L': 11, 'M': 12, 'N': 13, 'O': 14, 'P': 15, 'Q': 16, 'R': 17, 'S': 18, 'T': 19, 'U': 20, 'V': 21, 'W': 22, 'X': 23, 'Y': 24, 'Z': 25}

In [65]:
import string
def alph_num(stringg):
    a_to_z = string.ascii_uppercase
    a_to_z = a_to_z.replace('',' ')
    a_to_z = a_to_z.split()
    index = list(range(len(a_to_z)))
    mydic = dict(zip(a_to_z,index))
    myans = ''
    for i in stringg:
        ans = mydic[i]
        myans = myans+' '+str(ans)
    #myans = myans.lstrip()
    return myans[1:]

In [79]:
alph_num('AMRIT')

'0 12 17 8 19'

In [80]:
#PHEWW

In [111]:
lst = ['12','12','2','3','56']

In [112]:
' '.join(lst)

'12 12 2 3 56'

In [109]:
def aalph_num(txt):
    lst = []
    for letter in txt:
        lst.append(str(ord(letter) - 65))
    return lst

In [110]:
aalph_num('ABCDEF')

['0', '1', '2', '3', '4', '5']

In [113]:
#####################################################################################################

In [141]:
#scale_tip([0, 0, "I", 1, 1]) âžž "right"
# 0 < 2 so it will tip right

In [137]:
def scale_tip(lst):
    i = lst.index('I')
    l = sum(lst[:i])
    r = sum(lst[i+1:])
    if l>r:
        ans = ('left')
    elif r>l:
        ans = ('right')
    else:
        ans = ('balanced')
    return ans

In [140]:
scale_tip([1, 2, 3, "I", 4, 0, 0])

'left'

In [142]:
#Create a function that takes in a sentence and a character to find. Return a dictionary of each word in 
#the sentence, with the number of the specified character as the value.

In [179]:
def find_occurrences(txt,ch):
    mydic = {}
    for i in txt.lower().split():
        mydic.update({i:i.count(ch.lower())})
    return mydic

In [180]:
find_occurrences("Create a nice JUICY function", "c")

{'create': 1, 'a': 0, 'nice': 1, 'juicy': 1, 'function': 1}

In [190]:
#Could've done this way too
d = {}

In [191]:
d['create']=1

In [192]:
d

{'create': 1}

In [1]:
#####################################################################################################

In [2]:
#MEDIUM LEVEL DIFFICULTY

In [3]:
#Create a function that receives a non-negative integer and returns the factorial of that number.

In [35]:
def factorial(num):
    lst = list(range(1,num+1))
    ans = 1
    for i in lst:
        ans = ans*i
    return ans

In [40]:
factorial(2)

2

In [1]:
def fact(n):
    if n<2:
        return 1
    else:
        return fact(n-1)*n

In [4]:
fact(4)

24

In [7]:
#sum_fractions([[18, 13], [4, 5]]) âžž 2

In [11]:
def sum_fractions(lst):
    total = 0
    for i in lst:
        total = total + (i[0]/i[1])
    return round(total)

In [12]:
sum_fractions([[11, 2], [3, 4], [5, 4], [21, 11], [12, 6]])

11

In [14]:
mylist = [4,54,2,77,23,41,76]

In [15]:
largest = 0
for i in mylist:
    if i>largest:
        largest = i
print(largest)

77

In [8]:
#Write a function that finds the largest even number in a list. Return -1 if not found. The use of 
#built-in function max() and sorted() are prohibited.

In [39]:
def largest_even(lst):
    largest = -1
    for i in lst:
        if i % 2 == 0 and i > largest:
            largest = i
    return largest

In [44]:
largest_even([3, 7, 221, 11, 7, 9, 281, 123])

-1

In [1]:
#Write a program that returns a list of all the numbers from 1 to an integer argument. But for multiples 
#of three use â€œFizzâ€ instead of the number and for the multiples of five use â€œBuzzâ€. For numbers which are 
#multiples of both three and five use â€œFizzBuzzâ€.

In [12]:
def fizz_buzz(num):
    mylist = list(range(0,num+1))
    for i in mylist:
        if i%3 == 0 and i%5 == 0:
            mylist[i] = 'FizzBuzz'
        elif i%3 == 0:
            mylist[i] = 'Fizz'
        elif i%5 == 0:
            mylist[i] = 'Buzz'
    return mylist[1:]

In [13]:
fizz_buzz(15)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

In [14]:
#Step 0: Start with 0
#Step 1: Add 3
#Step 2: Subtract 1
#Repeat Step 1 & 2 ...

In [1]:
def box_seq(step):
    total = 0
    for i in range(1,step+1):
        while step != 0:
            total = total + 3
            step = step - 1
            if step>0:
                total = total - 1
                step = step - 1
    return total

In [11]:
box_seq(9)

11

In [13]:
#count_overlapping([[1, 2], [5, 6], [5, 7]], 5) âžž 2

In [33]:
def count_overlapping(intervals,point):
    count = 0
    for i in intervals:
        if point in range(i[0],i[-1]+1):
            count+=1
    return count

In [36]:
count_overlapping([[1, 2], [5, 6], [5, 7]], 6)

2

In [38]:
#Roll two dice.
#Add the numbers on the dice together.
#Add the total to your overall score.
#Repeat this for three rounds.
#But if you roll DOUBLES, your score is instantly wiped to 0 and your game ends immediately!
#dice_game([(1, 2), (3, 4), (5, 6)]) âžž 21

In [60]:
def dice_game(mylist):
    total = 0
    for i in mylist:
        if (i[0] == i[1]):
            total = 0
        else:
            total = total + sum(i)
    return total

In [62]:
dice_game([(4, 5), (4, 5), (4, 5)])

27

In [67]:
#MUSICC

In [84]:
def find_cadence(mylist):
    if mylist[-2] == 'V' and mylist[-1] == 'I':
        x = 'prefect'
    elif mylist[-2] == 'IV' and mylist[-1] == 'I':
        x = 'plagal'
    elif mylist[-2] == 'V' and mylist[-1] != 'I':
        x = 'interrupted'
    elif mylist[-1] == 'V':
        x = 'imperfect'
    else:
        x = 'no cadence'
    return x

In [88]:
find_cadence(["I", "IV", "I", "V", "vi"])

'interrupted'

In [89]:
#The string should include n number of "o"s, unless n is below 2 (in that case, return "boom").
#If n is evenly divisible by 2, add an exclamation mark to the end.
#If n is evenly divisible by 5, return the string in ALL CAPS.
#if it's divisible by 10, use ecclamation and ALL CAPS

In [133]:
def boom_intensity(n):
    string = 'B'+'o'*n+'m'
    if n%2==0 and n%5==0:
        string = string.upper()+'!'
    elif n<2:
        string = 'boom'
    elif n%2==0:
        string = string+'!'
    elif n%5==0:
        string = string.upper()
    return string

In [136]:
boom_intensity(10)

'BOOOOOOOOOOM!'

In [1]:
#Transcribe the given DNA strand into corresponding mRNA - a type of RNA, that will be formed from it after
#transcription. DNA has the bases A, T, G and C, while RNA converts to U, A, C and G respectively.

In [16]:
dna = "GTCATACGACGTA"

In [20]:
def dna_to_rna(dna):
    step1 = dna.replace('A','U')
    step2 = step1.replace('T','A')
    step3 = step2.replace('G','X')
    step4 = step3.replace('C','G')
    step5 = step4.replace('X','C')
    return step5

In [21]:
dna_to_rna("ATTAGCGCGATATACGCGTAC")

'UAAUCGCGCUAUAUGCGCAUG'

In [22]:
mystr = 'brroo'

In [25]:
#EASY WAS TO TRANSLATE
mystr.translate(str.maketrans('ro','or'))

'boorr'

In [49]:
def fibb(num):
    mylist = [0,1,2]
    a,b,c = 1,1,2
    while len(mylist)!= 1001:
        a,b = b,c
        c = a+b
        mylist.append(c)
    return mylist[num]

In [51]:
fibb(12)

233

In [52]:
def fibonacci(num):
    a, b = 0, 1
    for _ in range(num):
        a, b = b, a + b
    return b

In [57]:
fibonacci(122)

22698374052006863956975682

In [ ]:
#CONTINUED