In [6]:
def myfunc2(*args):
    mylist=[]
    for nums in args:
        if nums%2==0:
            mylist.append(nums)
    return mylist

In [8]:
myfunc2(1,2,3,4,5,6,7)

[2, 4, 6]

In [3]:
def myfunc(line):
    mylist=[]
    for index in range(len(line)):
        if index%2==0:
            mylist.append(line[index].upper())
        else:
            mylist.append(line[index].lower())
    return ''.join(mylist)

In [4]:
myfunc('amritpreet')

'AmRiTpReEt'

In [ ]:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers 
are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [15]:
def func(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [22]:
func(2,5)

5

In [ ]:
ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with 
same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [47]:
def func(line):
    word = line.split()
    first_word=word[0][0]
    second_word=word[1][0]
    return first_word==second_word

In [50]:
func('Levelheaded Llama')

True

In [51]:
func('Crazy Kangaroo')

False

In [ ]:
MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the 
integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [57]:
def func(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [58]:
func(20,10)

True

In [59]:
func(12,8)

True

In [60]:
func(2,3)

False

In [ ]:
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [61]:
def func(text):
    first_letter = text[0]
    middle_leters = text[1:3]
    fourth_letter = text[3]
    rest = text[4::]
    return first_letter.upper()+middle_leters+fourth_letter.upper()+rest

In [64]:
func('macdonald')

'MacDonald'

In [ ]:
MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [67]:
def func(text):
    line = text.split()
    rev_line = line[::-1]
    return ' '.join(rev_line)

In [70]:
func('I am home')

'home am I'

In [11]:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [83]:
def func(nums):
    for index in range(len(nums)-1):
        if nums[index]==3 and nums[index+1]==3:
            return True
    return False

In [86]:
func([1,4,5,6,7,3,3])

True

In [87]:
func([1, 3, 1, 3])

False

In [88]:
func([3, 1, 3, 3])

True

In [89]:
func([3,3,4,3,6,7])

True

In [ ]:
PAPER DOLL: Given a string, return a string where for every character in the original there are 
three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [94]:
def paper_doll(text):
    mylist = []
    for index in range(len(text)):
        mylist.append(text[index]*3)
    return ''.join(mylist)

In [95]:
paper_doll('Hello')

'HHHeeellllllooo'

In [96]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return 
their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the 
sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [116]:
def blackjack(a,b,c):
    if a+b+c<=21:
        return sum((a,b,c))
    elif a==11 or b==11 or c==11 and a+b+c>21:
        return a+b+c-10
    elif a+b+c>21:
        return 'BUST'

In [182]:
blackjack(9,9,11)

19

In [ ]:
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting 
with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no 
numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [2]:
summer_69([1, 3, 5])

9

In [3]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [4]:
summer_69([2, 1, 6, 9, 11])

14

In [1]:
x=0
while x<10:
    if x==6:
        x=x+1
        continue
    elif x==7:
        x=x+1
        continue
    elif x==8:
        x=x+1
        continue
    else:
        print(x)
        x=x+1

0
1
2
3
4
5
9

In [6]:
a=10
b=0
while a>=0:
    while b<=10:
        print(a,b)
        a=a-1
        b=b+1

10 0
9 1
8 2
7 3
6 4
5 5
4 6
3 7
2 8
1 9
0 10

In [6]:
a='amritjattz'
b=1
while b<=10:
    for x in a:
        print(b,x)
        b=b+1

1 a
2 m
3 r
4 i
5 t
6 j
7 a
8 t
9 t
10 z

In [15]:
c='amritjattz'
for e in c:
    if e=='j':
        continue
    print(e)

a
m
r
i
t
a
t
t
z

In [65]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total = total + num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [72]:
summer_69([5,6,8,9,65])

70

In [ ]:
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in 
order
spy_game([1,2,4,0,0,7,5]) --> True
spy_game([1,0,2,4,0,5,7]) --> True
spy_game([1,7,2,0,4,5,0]) --> False

In [100]:
def spy_game(alist):
    mylist=[0,0,7,'x']
    #[0,7,'x']
    #[7,'x']
    #['x']
    for index in alist:
        if index==mylist[0]:
            mylist.pop(0)
    return len(mylist)==1

In [101]:
spy_game([1,2,4,0,0,7,5])

True

In [102]:
spy_game([1,0,2,4,0,5,7])

True

In [103]:
spy_game([1,7,2,0,4,5,0])

False

In [104]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
(4/3)*(22/7 or 3.14)*(2**3)

33.52380952380952

In [19]:
def vol(rad):
    return((4/3)*(3.14)*(rad**3))

In [20]:
vol(2)

33.49333333333333

In [23]:
def ran_check(num,low,high):
    if num>low and num<high:
        print('{} is in the range between {} and {}'.format(num,low,high))

In [27]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [ ]:
#

In [ ]:
Write a Python function that accepts a string and calculates the number of upper case letters and 
lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
#HINT: Two string methods that might prove useful: .isupper() and .islower()

In [132]:
def up_low(string):
    total1 = 0
    total2 = 0
    for elements in string:
        if elements.isupper():
            x=len(elements)
            total1=total1+x
        elif elements.islower():
            y=len(elements)
            total2=total2+y
    print('No. of Upper case characters : {}'.format(total1))
    print('No. of Lower case characters : {}'.format(total2))

In [133]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [134]:
up_low(s)

No. of Upper case characters : 4
No. of Lower case characters : 33

In [ ]:
Write a Python function that takes a list and returns a new list with unique elements of the first 
list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [135]:
def unique_list(mylist):
    r=set(mylist)
    return list(r)

In [136]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [5]:
def multiply(mylist):
    total=1
    for index in mylist:
        total=total*index
    return total

In [12]:
multiply([1, 2, 3, -4])

-24

In [40]:
#puthi string v equal hove sidhi de
def palindrome(string):
    string=string.replace(' ','')
    return string[::-1]==string

In [41]:
palindrome('nurses run')

True

In [44]:
string='nurses'

In [48]:
string.replace('s','ss')

'nurssess'

In [ ]:
Write a Python function to check whether a string is pangram or not. (Assume the string passed in 
does not have any punctuation)

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

In [24]:
import string
def ispangram(string,alphabets=string.ascii_lowercase):
    alphaset = set(alphabets)
    string = string.replace(' ','')
    string = string.lower()
    string = set(string)
    return string==alphaset

In [27]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [28]:
#aplphabets kadhan di library
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'