In [1]:
#Take values of length and breadth of a rectangle from user and check if it is square or not.

In [7]:
length = 10
breadth = 10

In [8]:
if length == breadth:
    print('no,its not a rectangle')
else:
    print('yupp,its a rectangle')

no,its not a rectangle

In [9]:
#Take two int values from user and print greatest among them.

In [15]:
a=14
b=1678

In [16]:
if a>b:
    print(a)
elif a<b:
    print(b)

1678

In [ ]:
A shop will give discount of 10% if the cost of purchased quantity is 
more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.

In [30]:
unit_cost = 100
quantity = 9
total_cost = unit_cost*quantity
discounted_cost = total_cost-total_cost*10/100
if total_cost>1000:
    print('Total cost after discount is {}'.format(discounted_cost))
else:
    print('Total cost without discount is {}'.format(total_cost))

Total cost without discount is 900

In [ ]:
A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [38]:
salary= 135000
years = 7
bonus = salary+salary*5/100
if years>5:
    print('Total salary with bonus is {}'.format(bonus))
else:
    print('Total salary without bonus is {}'.format(salary))

Total salary with bonus is 141750.0

In [ ]:
A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.

In [68]:
marks = 60
if marks <= 25:
    print('F')
elif marks >= 25 and marks < 45:
    print('E')
elif marks >= 45 and marks < 50:
    print('D')
elif marks >= 50 and marks < 60:
    print('C')
elif marks >= 60 and marks < 80:
    print('B')
else:
    print('A')

B

In [ ]:
Take input of age of 3 people by user and determine oldest and youngest among them.

In [3]:
amrit = 46359876324578634985
gagan = 47278435656748326578
vishaw= 43825673426523474657
if amrit>gagan and amrit>vishaw:
    print('amrit is the oldest at {} years of age'.format(amrit))
elif gagan>amrit and gagan>vishaw:
    print('gagan is the oldest at {} years of age'.format(gagan))
elif vishaw>amrit and vishaw>gagan:
    print('vishaw is the oldest at {} years of age \nand'.format(vishaw))
else:
    print('all are equal')
if amrit<gagan and amrit<vishaw:
    print('amrit is the youngest  at {} years of age'.format(amrit))
elif gagan<amrit and gagan<vishaw:
    print('gagan is the youngest  at {} years of age'.format(gagan))
elif vishaw<amrit and vishaw<gagan:
    print('vishaw is the youngest at {} years of age'.format(vishaw))

gagan is the oldest at 47278435656748326578 years of age
vishaw is the youngest at 43825673426523474657 years of age

In [ ]:
A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not

In [12]:
number_of_classes_held = 100
number_of_classes_attended = 72
percentage_of_class_attended = number_of_classes_attended/number_of_classes_held*100
if percentage_of_class_attended>=75:
    print('with {}%,this kid will sit in the exam'.format(percentage_of_class_attended))
else:
    print('with {}%,this kid will not sit in the exam'.format(percentage_of_class_attended))

with 72.0%,this kid will not sit in the exam

In [ ]:
Write a program to check if a year is leap year or not.
If a year is divisible by 4 then it is leap year but if the year is century year 
like 2000, 1900, 2100 then it must be divisible by 400.

In [44]:
year = 2020
if year%4==0:
    print('{} is a leap year'.format(year))
else:
    print('{} is not a leap year'.format(year))

2020 is a leap year

In [ ]:
Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules 
print their place of service.
if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [61]:
age = 40
sex = 'M'
marital_status = 'N'
if sex == 'F':
    print ('she will only work in urban areas')
elif sex == 'M' and age>=20 and age<=40:
    print('he may work anywhere')
elif sex == 'M' and age>=40 and age<=60: 
    print('he will work in urban areas only.')
else:
    print('"ERROR"')

he may work anywhere

In [ ]:
A 4 digit number is entered through keyboard. Write a program to print a new number with digits
reversed as of orignal one. E.g.-
INPUT : 1234        OUTPUT : 4321
INPUT : 5982        OUTPUT : 2895

In [73]:
x = '7566'

In [74]:
x[::-1]

'6657'