In [21]:
# 3 da table with simplified loop
index=0
while index<=10:
    print('table =',3*index)
    print('index =',index)
    index=index+1
    print('new index =',index)

table = 0
index = 0
new index = 1
table = 3
index = 1
new index = 2
table = 6
index = 2
new index = 3
table = 9
index = 3
new index = 4
table = 12
index = 4
new index = 5
table = 15
index = 5
new index = 6
table = 18
index = 6
new index = 7
table = 21
index = 7
new index = 8
table = 24
index = 8
new index = 9
table = 27
index = 9
new index = 10
table = 30
index = 10
new index = 11

In [13]:
#number da factoral
number = 4
fac = 1
while number>=1:
        fac = fac*number
        number = number-1
print (fac)

24

In [46]:
67%10

7

In [19]:
name = 'Amrit'
length = len(name)
while length==5:
    print(name)
    length=length-1

Amrit

In [8]:
sum_total=0
number=1
while number<=10:
    sum_total=sum_total+number
    number=number*2
    print(sum_total)
    print('number',number)

1
number 2
3
number 4
7
number 8
15
number 16

In [23]:
#sum of positive values in list
mylist = [5,4,4,3,1,-2,-3,-5]
total = 0
index = 5
while index<len(mylist) and mylist[index]<0:
    total = total + mylist[index]
    index = index + 1
    print(total)

-2
-5
-10

In [37]:
mylist2 = [5,5,5,5,-5,-5,-142]

In [38]:
# sum of list with while loop 
total=0
index=0
while index<len(mylist2) and mylist2[index]>-100000:
    total=total+mylist2[index]
    index=index+1
    if mylist2[index]<0:
        break
print(total)

20

In [41]:
#sum of list with for loop
total = 0
for elements in mylist2:
    if elements<0:
        break
    total=total+elements
print(total)

20

In [7]:
mylist=[7,5,4,4,3,1,-2,-3,-5,-7]

In [9]:
#sum of only negative numbers with while loop
total = 0
index = -1
while mylist[index]<0:
    total+=mylist[index]
    index=index-1
print(total)

-17

In [11]:
#sum of negatuve numbers with for loop
total = 0
for elements in mylist:
    if elements<0:
        total=total+elements
print(total)

-17

In [1]:
#sum of all multiples of 3 and 5 upto 100

In [14]:
total = 0
for i in range(0,101):
    if i%3==0 or i%5==0:
        total=total+i
print(total)

2418

In [34]:
name = 'Amritpreet'
for index in range(len(name)):
    print(name[index])
print('end')

A
m
r
i
t
p
r
e
e
t
end

In [35]:
#Nested for loop (patterns)

In [5]:
for index in range(1,6):
    for index2 in range(0,index):
        print ('* ',end='')
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
for index in range(5):
    for index2 in range(index,5):
        print('* ',end='')
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,5):
    for j in range(i,5):
        print(j,end='')
    print()

1234
234
34
4

In [7]:
#string method
string = '1234'
for i in range(len(string)):
    print(string[i:])

1234
234
34
4

In [9]:
#.replace concept that i dont know yet
string1 = 'APQR'
string2 = 'ABCD'
for i in range(len(string1)):
    string1 = string1.replace(string1[i], string2[i])
    print(string1)

APQR
ABQR
ABCR
ABCD

In [14]:
#Pattern of hearts

In [9]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [16]:
for row in range(9):
    for col in range(9):
        if (row==0 and col == 2 and col == 6) or (row==1 and col%2!=0) or (row==2 and col%4==0) or (row==3 and col%8==0) or (row==4 and col%8==0) or (row-col==4) or (row+col==12):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

  *   *   *   *
*       *       *
*               *
*               *
  *           *
    *       *
      *   *
        *

In [1]:
#another method
for row in range(4):
    for col in range(4):
        if (row==0 and col%1==0) or (row==1 and row+col<4) or (row==2 and row+col<4) or (row==3 and row+col==3):
            print('*',end=' ')
        else:
            print(end=' ')
    print()

* * * *
* * *
* *
*

In [3]:
for row in range(4):
    for col in range(4):
        if (row==0 and row+col==0) or (row==1 and row+col<3) or (row==2 and row+col<5) or (row==3 and row%1==0):
            print('*',end=' ')
        else:
            print(end=' ')
    print()

*
* *
* * *
* * * *

In [24]:
#lmao 
for row in range(4):
    for col in range(3):
        if (row==0 and col%1==0) or (row==1 and row+col==2) or (row==2 and row+col==3) or (row==3 and row+col==4):
            print('||',end='')
        else:
            print(end='  ')
    print()

||||||
  ||
  ||
  ||

In [35]:
for row in range(7):
    for col in range(5):
        if (row==0 and col>0 and col<4) or (row==1 and col%4==0) or (row==2 and col%4==0) or (row==3 and col%1==0) or (row==4 and col%4==0) or (row==5 and col%4==0) or (row==6 and col%4==0):
            print('*',end=' ')
        else:
            print(end='  ')
    print('')

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [14]:
# A more professional way
n=int(input('Enter the number of rows - '))
for row in range(1,n+1):
    for col in range(row,n+1):
        print(col,end=' ')
    print()

Enter the number of rows - 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [16]:
n=int(input('Enter the number of rows - '))
for row in range(1,n+1):
    for col in range(1,row+1):
        print(col,end=' ')
    print()

Enter the number of rows - 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
n=int(input('Enter the number of rows - '))
for row in range(1,n+1):
    for col in range(1,row+1):
        print(row,end=' ')
    print()

Enter the number of rows - 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
#table using break
num = 0
n = True
while n:
    num+=10
    print(num)  
    if num==100:
        break

10
20
30
40
50
60
70
80
90
100